@import "tailwindcss";

:root {
  --background: #F9ECE3;
  --foreground: #1E293B;
}

@theme {
  --color-polibatam-orange: #EB6D11;
  --color-polibatam-peach: #FDD7BB;
  --color-polibatam-light: #F9ECE3;
  --color-polibatam-circle: #D8DADD;
  --color-polibatam-navy: #1E293B;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9ECE3;
    --foreground: #1E293B;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-card-wrapper {
  position: relative;
}

/* persegi peach */
.hero-card-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  /* full 500x600 */
  border-radius: 40px 40px 80px 40px;
  /* tr & br lebih bulat */
  background-color: #ffd7b8;
}

/* lingkaran krem sebagai bagian dari persegi */
.hero-card-wrapper::after {
  content: "";
  position: absolute;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #f7e5d6;
  /* samakan dengan background halamanmu */
  top: -16px;
  /* geser sedikit keluar */
  left: 48px;
  /* geser ke kanan agar tampak menyatu seperti contoh */
}