@import "tailwindcss";

:root {
  --background: #F9ECE3;
  --foreground: #1E293B;
}

@theme {
  --color-polibatam-orange: #EB6D11;
  --color-polibatam-peach: #FDD7BB;
  --color-polibatam-light: #F9ECE3;
  --color-polibatam-circle: #D8DADD;
  --color-polibatam-navy: #1E293B;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9ECE3;
    --foreground: #1E293B;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-card-wrapper {
  position: relative;
}


.hero-card-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
 
  border-radius: 40px 40px 80px 40px;
 
  background-color: #ffd7b8;
}


.hero-card-wrapper::after {
  content: "";
  position: absolute;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #f7e5d6;
 
  top: -16px;
 
  left: 48px;
 
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

.animate-fade-in-up-delay {
  animation: fadeInUp 0.8s ease-out 0.2s forwards;
  opacity: 0;
}

.navbar-glass-transition {
  transition: all 0.5s ease-in-out;
}